---
import { Image } from 'astro:assets';
import HotelMediaItem from './HotelMediaItem.astro';
import hotels from '../../static/data/hotels.json';
const rakutenTravelBaseUrl = import.meta.env.RAKUTEN_TRAVEL_BASE_URL;
const props = Astro.props;
const hotel = hotels.find(e => e.hotelNo === parseInt(props.no))
const rakutenTravelCouponUrl = `${rakutenTravelBaseUrl}?pc=https%3A%2F%2Fcoupon.travel.rakuten.co.jp%2Fcoupon%2Fhotel%2F${props.no}`
---
<div class="flex flex-col">
  <div>
    <a href={ `${hotel?.rUrl}` } target="_blank" class="no-underline" rel="noopener noreferrer nofollow">
      <h2>{ hotel?.hotelName }</h2>
    </a>
  </div>
  <div class="grid grid-cols-1 mb-2.5 sm:grid-cols-2 gap-2">
    <div class="w-full h-64 mt-0 mx-auto overflow-hidden object-cover sm:m-auto">
      <a href={ `${hotel?.rUrl}` } target="_blank" rel="noopener noreferrer nofollow">
        <Image
          class="object-cover h-64 m-auto w-full rounded-lg"
          src={ `${hotel?.image}` }
          alt={ `${hotel?.hotelName}` }
          width="512"
          height="512"
        />
      </a>
    </div>
    <div class="p-2.5 rounded-lg border-box mt-2.5 bg-rose-100">
      <p>{ props.description }</p>
    </div>
  </div>
  { props.keywords ? <h3>{ `${props.keywords}` }でお得なプランを見つける</h3> : '' }
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    <HotelMediaItem
      hotelName={ hotel?.hotelName }
      href={ `${hotel?.rUrl}` }
      price={ hotel?.price }
      src="/images/rakuten_travel.jpg"
      alt="楽天トラベル"
      width="80"
      height="44"
    />
    { hotel?.jUrl !== 'NULL' ? <HotelMediaItem
        hotelName={ hotel?.hotelName }
        href={ `https://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3599199&pid=890059847&vc_url=${hotel?.jUrl}` }
        src="/images/jalan.jpg"
        alt="じゃらん"
        width="80"
        height="40"
      /> : ''
     }
    { hotel?.yUrl !== 'NULL' ? <HotelMediaItem
        hotelName={ hotel?.hotelName }
        href={ `https://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3599199&pid=887316004&vc_url=${hotel?.yUrl}` }
        src="/images/yahoo_travel.jpg"
        alt="Yahoo!トラベル"
        width="80"
        height="44"
      /> : ''
     }
    { hotel?.iUrl !== 'NULL' ? <HotelMediaItem
        hotelName={ hotel?.hotelName }
        href={ `https://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3599199&pid=887319524&vc_url=${hotel?.iUrl}` }
        src="/images/ikyu.jpg"
        alt="一休.com"
        width="80"
        height="48"
      /> : ''
     }
  </div>
  <div class="pt-3.5">
    <table>
      <tr>
        <td>住所</td>
        <td>{ hotel?.address }</td>
      </tr>
      <tr>
        <td>アクセス</td>
        <td>{ hotel?.access }</td>
      </tr>
      <tr>
        <td>Tel</td>
        <td>{ hotel?.tel }</td>
      </tr>
    </table>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    <a href={ `${hotel?.rUrl}` } target="_blank" rel="noopener noreferrer nofollow">
      <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full">
        クーポンを確認する
      </button>
    </a>
    <a href={ rakutenTravelCouponUrl } target="_blank" rel="noopener noreferrer nofollow">
      <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full">
        空室を確認する
      </button>
    </a>
  </div>
</div>
